<%- include('../header.ejs') %>
<h1>view page</h1>
<div class="container mt-5">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Tenth</th>
            <th>Twelth</th>
            <th>Course</th>

        </tr>

            <tr>
                <td><%= view._id %></td>
                <td><%= view.name %></td>
                <td><%= view.email %></td>
                <td><%= view.phone %></td> 
                <td><%= view.Tenth %></td> 
                <td><%= view.Twelth %></td> 
                <td><%= view.Course %></td>   
            </tr>

       
    </table>
    </div>

<%- include('../footer.ejs') %>
